body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  height: 100%;
}
.navbar ul {
  background-color: purple;
  padding: 10px;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 45px;
  font-size: 25px;
  margin: 0;
}

.navbar li a {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}

.hero {
  text-align: center;
  font-size: 20px;
  background-color: lightgray;
  margin: 0;
  border: 0;
  padding: 10px;
}

.hero img {
  max-width: 100%;
  height: auto;
  width: 400px;
  border-radius: 20px;
  margin-top: 10px;
}
.projects {
  background-color: lightblue;
  padding: 20px;
}

.project-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project {
  background-color: red;
  width: 300px;
  padding: 15px;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.649);
}

footer {
  background-color: purple;
  color: white;
  padding: 15px;
  font-size: 14px;
  margin-bottom: 0;
  border: 0;
}

footer p {
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar a:hover {
  color: aqua;
  text-decoration: underline;
}

@media (max-width: 760px) {
  .navbar ul {
    display: block;
  }
  .project-grid {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  body {
    font-size: 14px;
  }
}
